{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% block content %}
    <div id="landing-page">
    
    <header>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-books">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M5 4m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z" />
            <path d="M9 4m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z" />
            <path d="M5 8h4" />
            <path d="M9 16h4" />
            <path
                d="M13.803 4.56l2.184 -.53c.562 -.135 1.133 .19 1.282 .732l3.695 13.418a1.02 1.02 0 0 1 -.634 1.219l-.133 .041l-2.184 .53c-.562 .135 -1.133 -.19 -1.282 -.732l-3.695 -13.418a1.02 1.02 0 0 1 .634 -1.219l.133 -.041z" />
            <path d="M14 9l4 -1" />
            <path d="M16 16l3.923 -.98" />
        </svg>
        <h1>Biblioteca Mari Carmen Brito</h1>
    </header>
    <main>
        <div class="left-container">
            <h2>CERCA AL CATÀLEG</h2>
            <div class="search-container" id="search-container">
                <form action="/busqueda/" method="GET" id="search-form">
                    <label for="searchInfo"><span style="text-decoration: underline;">C</span>erca general:</label>
                    <div id="search-row">
                        <div class="search-container-inner" id="search-container-inner">
                            <input type="text" id="searchInfo" name="searchInfo" accesskey="c" title="Cercar Productes (ALT + C)">
                            <div id="absolute-div">
                                <ul>
                                </ul>
                            </div>
                        </div>
                        <input type="submit" value="Buscar" id="btn-search">
                    </div>
                    <div id="checkbox-disponibility">
                        <input type="checkbox" name="producte-availability" id="available" accesskey="p" title="Mostrar Disponibles (ALT + P)">
                        <label for="available">Mostrar <span style="text-decoration: underline;">P</span>roductes Disponibles:</label>
                    </div>
                </form>
            </div>
        </div>
        <div class="right-container">
            <h2 class=""><span style="text-decoration: underline;">I</span>NICIA SESSIÓ</h2>
            <form action="" method="post" id="loginForm">
                {% csrf_token %}
                <label for="username">Nom d'usuari:</label>
                <input type="text" id="username" name="username" accesskey="i" title="Iniciar Sessió (ALT + I)">
                <label for="password">Contrasenya:</label>
                <input type="password" id="password" name="password">
                <a href="{% url 'forgot_password' %}" class="accent-color-link">Has oblidat la contrasenya?</a>
                <input type="submit" value="Iniciar Sessió">
            </form>
            <a href="{% provider_login_url 'google' %}">Login with Google</a>
        </div>
    </main>
    {% if error %}
    <script>
        createNotification("error", "{{ errorMsg }}", $(".right-container h2"));
    </script>
    {% endif %}    
    <script src="{% static 'landing_page_controller.js' %}?no-cache={% now "U" %}"></script>
</div>

{% endblock %}