{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="search-product">
    <header>
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-books">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M5 4m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z" />
                <path d="M9 4m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z" />
                <path d="M5 8h4" />
                <path d="M9 16h4" />
                <path
                    d="M13.803 4.56l2.184 -.53c.562 -.135 1.133 .19 1.282 .732l3.695 13.418a1.02 1.02 0 0 1 -.634 1.219l-.133 .041l-2.184 .53c-.562 .135 -1.133 -.19 -1.282 -.732l-3.695 -13.418a1.02 1.02 0 0 1 .634 -1.219l.133 -.041z" />
                <path d="M14 9l4 -1" />
                <path d="M16 16l3.923 -.98" />
            </svg>
            <h1>Biblioteca Mari Carmen Brito</h1>
        </div>

        <form action="/busqueda/" method="GET" id="search-form">
            <label for="searchInfo"><span style="text-decoration: underline;">C</span>erca general:</label>
            <div id="search-row">
                <div class="search-container-inner" id="search-container-inner">
                    <input type="text" id="searchInfo" name="searchInfo" accesskey="c" title="Cerca (ALT + C)">
                    <div id="absolute-div">
                        <ul>
                        </ul>
                    </div>
                </div>
                <input type="submit" value="Buscar" id="btn-search">
            </div>
            <div id="checkbox-disponibility">
                <input type="checkbox" name="producte-availability" id="available">
                <label for="available">Mostrar Productes Disponibles:</label>
            </div>
        </form>
        <nav>
            <ul>
                <li><a href="/" accesskey="i" title="Inici (ALT + I)">TORNAR A L'<span
                            style="text-decoration: underline;">I</span>NICI</a></li>
                <li><a href="/change_password" accesskey="o" title="Canviar Contrasenya (ALT + O)">CANVIAR C<span
                            style="text-decoration: underline;">O</span>NTRASENYA</a></li>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button id="btn-logout" type="submit" accesskey="t" title="Tancar Sessió (ALT + T)"><span
                            style="text-decoration: underline;">T</span>ANCAR SESSIÓ DE {{ user.username }}</button>
                </form>
            </ul>
        </nav>
    </header>
    <main>
        <div id="welcome">
            <h1>BENVINGUT/DA {{ user.username }}</h1>
            {% if user.role == 'librarian' %}
            <h2>Rol: Bibliotecari/a</h2>
            {% elif user.role == 'student' %}
            <h2>Rol: Usuari</h2>
            {% elif user.role == 'Super Admin' %}
            <h2>Rol: Super Administrador/a</h2>
            {% endif %}
            <a href="/user_data" class="btn-user-data" accesskey="m" title="Perfil (ALT + M)"><span
                    style="text-decoration: underline;">M</span>ostrar les meves dades</a>
            {% if user.role == 'librarian' %}
            <a href="/add_user" class="btn-user-data" accesskey="u" title="Afegir Usuari (ALT + U)">Afegir un&nbsp;<span
                    style="text-decoration: underline;">U</span>suari</a>
            <a href="/edit_user" class="btn-user-data" accesskey="e" title="Editar Usuari (ALT + E)"><span
                    style="text-decoration: underline;">E</span>ditar un usuari</a>
            <a href="/import_csv" class="btn-user-data" accesskey="i" title="Importar Usuari (ALT + I)"><span
                    style="text-decoration: underline;">I</span>mportar usuaris</a>
            <a href="/loans" class="btn-user-data" accesskey="p" title="Préstec (ALT + P)">Realitzar un&nbsp;<span
                    style="text-decoration: underline;">P</span>réstec</a>
            <a href="/return_loan" class="btn-user-data" accesskey="r" title="Retornar (ALT + R)"><span
                    style="text-decoration: underline;">R</span>etornar un préstec</a>
            <a href="/add_product" class="btn-user-data" accesskey="a" title="Afegir Producte (ALT + A)"><span
                    style="text-decoration: underline;">A</span>fegir un producte al catàleg</a>
            {% endif %}
        </div>
    </main>
    <script src="{% static 'dashboard_controller.js' %}?no-cache={% now " U" %}"></script>
    <script>
        document.addEventListener('keydown', function (event) {
            if (event.altKey) {
                var key = event.key.toLowerCase();
                switch (key) {
                    case 'c':
                        document.getElementById('searchInfo').focus();
                        event.preventDefault();
                        break;
                    case 'i':
                        window.location.href = "/"; // Redirigir al inicio
                        event.preventDefault();
                        break;
                    case 'o':
                        window.location.href = "/change_password"; // Redirigir a la página de cambiar contraseña
                        event.preventDefault();
                        break;
                    case 't':
                        document.getElementById('btn-logout').click();
                        event.preventDefault();
                        break;
                    case 'm':
                        window.location.href = "/user_data"; // Redirigir al perfil del usuario
                        event.preventDefault();
                        break;
                    case 'u':
                        window.location.href = "/add_user"; // Redirigir a la página de agregar usuario
                        event.preventDefault();
                        break;
                    case 'e':
                        window.location.href = "/edit_user"; // Redirigir a la página de editar usuario
                        event.preventDefault();
                        break;
                    case 'i':
                        window.location.href = "/import_csv"; // Redirigir a la página de importar usuarios
                        event.preventDefault();
                        break;
                    case 'p':
                        window.location.href = "/loans"; // Redirigir a la página de préstamo
                        event.preventDefault();
                        break;
                    case 'r':
                        window.location.href = "/return_loan"; // Redirigir a la página de retorno de préstamo
                        event.preventDefault();
                        break;
                    case 'a':
                        window.location.href = "/add_product"; // Redirigir a la página de agregar producto al catálogo
                        event.preventDefault();
                        break;
                    // Agrega más casos según sea necesario para otras teclas Accesskey
                }
            }
        });
    </script>
    {% if notification %}
    <script>
        createNotification("{{notification}}", "{{ notificationMsg }}");
    </script>
    {% endif %}
</div>
{% endblock %}