{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="search-product">
    <header>
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-books">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M5 4m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z" />
                <path d="M9 4m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z" />
                <path d="M5 8h4" />
                <path d="M9 16h4" />
                <path
                    d="M13.803 4.56l2.184 -.53c.562 -.135 1.133 .19 1.282 .732l3.695 13.418a1.02 1.02 0 0 1 -.634 1.219l-.133 .041l-2.184 .53c-.562 .135 -1.133 -.19 -1.282 -.732l-3.695 -13.418a1.02 1.02 0 0 1 .634 -1.219l.133 -.041z" />
                <path d="M14 9l4 -1" />
                <path d="M16 16l3.923 -.98" />
            </svg>
            <h1>Biblioteca Mari Carmen Brito</h1>
        </div>
            
        <form action="/busqueda/" method="GET" id="search-form">
            <label for="searchInfo">Cerca general:</label>
            <div id="search-row">
                <div class="search-container-inner" id="search-container-inner">
                    <input type="text" id="searchInfo" name="searchInfo">
                    <div id="absolute-div">
                        <ul>
                        </ul>
                    </div>
                </div>
                <input type="submit" value="Buscar" id="btn-search">
            </div>
            <div id="checkbox-disponibility">
                <input type="checkbox" name="producte-availability" id="available">
                <label for="available">Mostrar Productes Disponibles:</label>
            </div>
        </form>

        <nav>
            <ul>
                <li><a href="/dashboard">PANELL</a></li>
                <li><a href="/change_password">CANVIAR CONTRASENYA</a></li>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" id="btn-logout">TANCAR SESSIÓ</button>
                </form>
            </ul>
        </nav>
    </header>
    <main id="user-data">   
        <h1>EDITAR USUARI</h1>
        <form id="update-form" method="POST">
            {% csrf_token %}
            <img src="{{ user.picture }}">
            <label for="name">Nom d'usuari:</label>
            <input type="text" id="name" name="name" value="{{ user.username }}">
            <label for="email">Correu electrònic:</label>
            <input type="email" id="email" name="email" value="{{ user.email }}">
            <label for="role">Rol:</label>
            <select name="role" id="role">
                <option value="student" {% if user.role == "student" %} selected {% endif %} >Estudiant</option>
                <option value="librarian" {% if user.role == "librarian" %} selected {% endif %} >Bibliotecari</option>
            </select>
            <!--
            <label for="birth-date">Data de naixement</label>
            <input type="date" id="birth-date" name="birth-date" value="{{ user.date_of_birth }}">
            <label for="school">Escola:</label>
            <input type="text" id="school" name="school" value="{{ user.school }}">
            -->
            <label for="cycle">Cicle:</label>
            <input type="text" id="cycle" name="cycle" value="{{ user.cycle }}">
            <input type="submit" id="update-user-data" value="Desar canvis">
        </form>
    </main>
    <script src="{% static 'edit_user_controller.js' %}?no-cache={% now "U" %}"></script>
</div>
{% endblock %}