{% extends 'base.html' %}
{% load static %}
{% block content %}
<header id="loan-form-header">
    <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-books">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M5 4m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z" />
            <path d="M9 4m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v14a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z" />
            <path d="M5 8h4" />
            <path d="M9 16h4" />
            <path
                d="M13.803 4.56l2.184 -.53c.562 -.135 1.133 .19 1.282 .732l3.695 13.418a1.02 1.02 0 0 1 -.634 1.219l-.133 .041l-2.184 .53c-.562 .135 -1.133 -.19 -1.282 -.732l-3.695 -13.418a1.02 1.02 0 0 1 .634 -1.219l.133 -.041z" />
            <path d="M14 9l4 -1" />
            <path d="M16 16l3.923 -.98" />
        </svg>
        <h1>Biblioteca Mari Carmen Brito</h1>
    </div>

    <form action="/busqueda/" method="GET" id="search-form">
        <label for="searchInfo"><span style="text-decoration: underline;">C</span>erca general:</label>
        <div id="search-row">
            <div class="search-container-inner" id="search-container-inner">
                <input type="text" id="searchInfo" name="searchInfo" accesskey="c" title="Cerca (ALT + C)">
                <div id="absolute-div">
                    <ul>
                    </ul>
                </div>
            </div>
            <input type="submit" value="Buscar" id="btn-search">
        </div>
        <div id="checkbox-disponibility">
            <input type="checkbox" name="producte-availability" id="available">
            <label for="available">Mostrar Productes Disponibles:</label>
        </div>
    </form>
    <nav>
        <ul>
            <li><a href="/dashboard" accesskey="p" title="Panell (ALT + P)"><span style="text-decoration: underline;">P</span>ANELL</a></li>            
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" id="btn-logout" accesskey="t" title="Tancar Sessió (ALT + T)"><span style="text-decoration: underline;">T</span>ANCAR SESSIÓ DE {{ user.username }}</button>
            </form>
        </ul>
    </nav>
</header>
<main id="return-loan-main">
    <h1 class="title"><span style="text-decoration: underline;">B</span>uscar Préstecs</h1>
    <div id="search-loan">
        <label for="email">Correu de l'usuari:</label>
        <input type="email" name="email" id="email" accesskey="b" title="Buscar Préstecs (ALT + B)">
        <button id="submit">Veure Préstecs</button>
    </div>
    <ul id="user-loans"></ul>
</main>




<script src="{% static 'return_loan_controller.js' %}?no-cache={% now "U" %}"></script>
{% if error %}
    <script>
        createNotification("{{error}}", "{{ errorMsg }}");
    </script>
{% endif %}

{% endblock %}